.search-wrapper {
  flex: 1;
  margin-right: 24px;
  margin-left: 16px;
  z-index: 10
}

.search-proper {
  // display: flex;
  flex: 1;
  // flex-direction: row;
  align-items: center;
  background: rgb(239, 239, 239);
  border-radius: 24px;
  padding: 0px 16px;
  height: 52px;
  margin: 8px;
  position: relative;
  top: 8px;
  font-size: 18px;
  font-weight: 500;
  color: grey;
}

.search-proper:focus {
  border-radius: 24px;
}

.show-results {
  z-index: 10;
  flex-wrap: wrap;
  justify-content: center;
}

.show-results-wrap {
  color: black;
}