.search-wrapper {
  flex: 1;
  margin-right: 24px;
  margin-left: 16px;
  z-index: 10
}

.search-proper {
  // display: flex;
  flex: 1;
  // flex-direction: row;
  align-items: center;
  background: rgb(239, 239, 239);
  border-radius: 24px;
  padding: 0px 16px;
  height: 52px;
  margin: 8px;
  position: relative;
  top: 8px;
  font-size: 18px;
  font-weight: 500;
  color: grey;
}

.search-proper:focus {
  border-radius: 24px;
}

.show-results {
  z-index: 10;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 273px;
  margin-left: 197px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 24px;
}

.show-results-wrap {
  color: black;
  z-index: 10;
  flex-wrap: wrap;
  justify-content: center;
}

.pin-search-item {
  height: auto;
  width: 276px;
  border-radius: 10%;
  transform: translateX(0px) translateY(0px);
  page-break-inside: avoid;
  margin: 0 0 1em;
}