.search-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background: rgb(239, 239, 239);
  border-radius: 24px;
  padding: 0px 16px;
  height: 52px;
  margin: 8px;
  position: relative;
  top: 8px;
  font-size: 18px;
  font-weight: 500;
  color: grey;
};

#search-icon {
  margin-right: 8px;
}