.footer-button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: white;
  border-radius: 52px;
  text-decoration: none;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: -webkit-sticky;
  position: sticky;
}

.footer-button:hover {
  background: rgb(239, 239, 239);
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  z-index: 9;
  margin-right: 28px;
  // position: absolute;
}
// height: 64vh;
// width: 220px;
// position: absolute;
// bottom: 20%;
// left: 8%;
// overflow-y: auto;

#total-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 40px;
  // opacity: 100%;
  // height: 0vh;
  // display: block;
}