// .user-show-page {
//   display: flex;
//   justify-content: flex-start
// }
.user-sub-page {
  padding: 48px;
  display: block;
  box-sizing: border-box;
  flex: wrap;
}
.index-board-box {
  padding: 48px;
  display: flex;
  flex-direction: flex-start;
  flex: wrap;
}

.profile-info-box {
  display: flex;
  justify-content: center;
}

.profile-info {
  // display: block;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  color: rgb(44, 44, 44)
}

.profile-name {
  // display: flex;
  // justify-content: center;
  font-size: 18px;
  color: (69, 69, 69)
}

.profile-surnames {
  font-size: 42px;
  padding: 8px;
  font-weight: bold;
}

.bii {
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 16px 16px;
  // background-color: rgb(17, 17, 17);
  color: rgb(17, 17, 17);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
  width: 100px;
  height: 100px;
  text-decoration: none;
  transition: all .5s ease;
}

.bii:hover {
  cursor: pointer;
  filter: brightness(65%);
}

.create-board-button-container {
  display: flex;
  justify-content: space-between;
}


.bii-link {
  text-decoration: none;
}

.board-pin-drop-menu-index > div {
  padding: 8px;
  padding-right: 100px;
}

.board-pin-drop-menu-index > div:first-child {
  font-size: small;
}

.board-pin-drop-menu-index {
  position: absolute;
  right: 48px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 8px;
  // margin: 10px;
  border-radius: 16px;
  z-index: inherit;
  background: white;
}

.drop-create-pin-button {
  font-weight: bold;
  transition: all .35s ease;
}

.drop-create-pin-button:hover {
  cursor: pointer;
  background: rgb(239, 239, 239);
  border-radius: 8px;
} 

.drop-create-board-button {
  font-weight: bold;
  transition: all .35s ease;
}

.drop-create-board-button:hover {
  cursor: pointer;
  background: rgb(239, 239, 239);
  border-radius: 8px;
}


.def-btn {
  border-radius: 50px;
  padding: 8px 8px;
  color: rgb(17, 17, 17);
  transition: all .5s ease;
}

.def-btn:hover {
  cursor: pointer;
  background: rgb(239, 239, 239);
}



