.board-edit-container-display {
  width: 20vw;
  height: 20vh;
}

.board-edit-container-display > div:first-child {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 36px;
}



.final-board-edit-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 42px;
}

.final-board-edit-btn {
  background: rgb(230, 0, 35);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 24px;
  padding: 8px 12px;
  height: 40px;
  font-weight: 600;
}

.final-board-edit-btn:hover {
  cursor: pointer;
  background: rgb(173, 8, 27);
}

.final-board-delete-btn {
  background: rgb(230, 0, 35);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 24px;
  padding: 8px 12px;
  height: 40px;
  font-weight: 600;
}

.final-board-delete-btn:hover {
  cursor: pointer;
  background: rgb(173, 8, 27);
}