.pin-show-board-index {
  position: absolute;
  // right: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 8px;
  // margin: 10px;
  border-radius: 16px;
  z-index: inherit;
  background: white;
}

