
.user-sub-page {
  padding: 48px;
  display: block;
  box-sizing: border-box;
  flex: wrap;
}
.index-board-box {
  padding: 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.profile-info-box {
  display: flex;
  justify-content: center;
}

.profile-info {
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profile-name {
  font-size: 18px;
  margin: 4px;
}

.profile-surnames {
  font-size: 42px;
  padding: 8px;
  font-weight: bold;
}

.bii {
  text-decoration: none;
  transition: all .5s ease;
  width: 241px;
  height: 161px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bii:hover {
  cursor: pointer;
  filter: brightness(65%);
}

.create-board-button-container {
  display: flex;
  justify-content: space-between;
}


.bii-link {
  text-decoration: none;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  color: black;
}

.board-pin-drop-menu-index > * {
  padding: 8px;
  // padding-right: 100px;
  margin: 4px;
  display: flex;
  flex: 1;
  padding-right: 100px;
}

.board-pin-drop-menu-index > div:first-child {
  font-size: small;
}

.board-pin-drop-menu-index {
  position: absolute;
  right: 48px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 8px;
  border-radius: 16px;
  z-index: inherit;
  background: white;
}

// .drop-create-pin-button {
//   font-weight: bold;
//   transition: all .35s ease;
//   color: rgb(17, 17, 17);
//   text-decoration: none;
//   // padding: 8px;
// }

.pin-create-link {
  color: #111;
  text-decoration: none;
  font-weight: bold;
  transition: all .35s ease;
}

.pin-create-link:hover {
  cursor: pointer;
  background: rgb(239, 239, 239);
  border-radius: 8px;
} 

.drop-create-board-button {
  font-weight: bold;
  transition: all .35s ease;
  color: rgb(17, 17, 17)
}

.drop-create-board-button:hover {
  cursor: pointer;
  background: rgb(239, 239, 239);
  border-radius: 8px;
}


.def-btn {
  border-radius: 50px;
  padding: 8px 8px;
  color: rgb(17, 17, 17);
  transition: all .5s ease;
}

.def-btn:hover {
  cursor: pointer;
  background: rgb(239, 239, 239);
}

.display-board-1 {
  width: 160px;
  height: 160px;
}

.display-board-3 {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 160px;
  margin-left: 1px;
}

.top-bp-image, .bottom-bp-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-color: rgb(239, 239, 239);
}
.top-bp-image {
      margin-bottom: 1px;
      border-radius: 0px 20px 0px 0px;
}
.bottom-bp-image{
  border-radius: 0px 0px 20px 0px;
}

.left-bp-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(239, 239, 239);
}





