// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root {
  --main-red: rgb(230, 0, 35);
}


.pin {

  display: flex;
  justify-content: center;
  flex-direction: row;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 32px;
  min-height: 600px;
}

.pin-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.pin-show-image-container {
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  min-height: 300px;
  min-width: 200px;
  max-width: 600px;
  margin: 10px;
  height: 100%;
  width: 100%;
  border-radius: 32px;
}

.pinfo {
  display: block;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: auto;
  flex-direction: column;
}

.pinfo-title {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 24px;
  padding-right: 24px;
}

.pinfo-description {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.save-board-button-box {
  display: flex;
  justify-content: flex-end;
}

.save-board-button {
  background: var(--main-red);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 24px;
  padding: 8px 12px;
  height: 40px;
  // margin: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all .5s ease;
}


.pinfo-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.back-button {
  cursor: pointer;
  padding: 8px;
  border-radius: 24px;
  transition: all .5s ease;
}

.back-button:hover {
  background: rgb(239, 239, 239);
}

.pin-show-image:hover {
  cursor: zoom-in;
  filter: brightness(75%);
}

.pin-show-image {
  transition: all .5s ease;
}

.pin-author {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pin-author-name {
  padding: 4px;
  font-weight: bold;
}
.pin-author-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pin-author-photo {
  padding: 4px;
  border-radius: 36px;
}

.pin-author-photo:hover {
  background: rgb(239, 239, 239);
  cursor: pointer;
}

.pinfo-nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.triple-dot {
  padding: 6px;
  border-radius: 24px;
}

.triple-dot:hover {
  background: rgb(239, 239, 239);
  cursor: pointer;
}


