// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masonry {
  display: flex;
  flex-flow: column wrap;
  max-height: 2700px; /* Adjustment for the gutter */
  column-count: 5;
  column-gap: 1em;
  padding: 20px;
}

// .masonry {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: masonry;
//   gap: 20px;
//   padding: 20px;
// }

// .pin-index-image {
//   height: auto;
//   width: 300px;
//   border-radius: 24px;
// }

.index-pin {
  display: inline-block;
  margin: 0 0 1em;
  width: 300px;
  border-radius: 10%;
  text-align: center;
}

.pin-image {
  height: auto;
  width: 300px;
  border-radius: 24px;
}

.index-pin > h3 {
  font-weight: 600;
}

.pin-show-image {
  height: auto;
  width: 450px;
  border-radius: 24px;
}

.pin{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

